<div class="container" style="background:lightblue">
    <div class="col-md-12">
        <div class="col-md-12"><a routerLink="/signup" style="float:right;padding:5px;">signup</a></div>
        <div class="col-md-3">
            <h1>Max Store</h1>
        </div>
        <div class="col-md-9" style="padding:25px;"> <input class="form-control input-sm" id="inputsm" type="text"> </div>
    </div>
    <!-- <div style="width:60%;margin:0 auto">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">ELECTRONICS</a></li>
        <li><a href="#">APPLIANCES</a></li>
        <li><a href="#">MEN</a></li>
        <li><a href="#">WOMEN</a></li>
        <li><a href="#">HOME&FURNITURE</a></li>
        <li><a href="#">BOOKS</a></li>
    </ul>
    </div> -->
    <div style="width:60%;margin:0 auto">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>ELECTRONICS</b>
              <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">MOBILES</a></li>
                    <li><a href="#">LAPTOPS</a></li>
                    <li><a href="#">DESKTOPS</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>APPLIENCES</b>
                            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Washingmachines</a></li>
                    <li><a href="#">Refrigerators</a></li>
                    <li><a href="#">Airconditionars</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>HOME&FURNITURE</b>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Kitchen&Dining</a></li>
                    <li><a href="#">Furniture</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>